@import 'base/variables';

html {
    font-family: "open-sans"
}
.container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/properties';
@import 'blocks/catalog';
@import 'blocks/pay';
@import 'blocks/delivery';
@import 'blocks/contacts';
@import 'blocks/footer';